name: Create Linux .deb Installer

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build .deb Package
      run: |
        bash build_scripts/build_deb.sh

    - name: Upload .deb Artifact
      uses: actions/upload-artifact@v4
      with:
        name: bogasbogasgo-linux-deb
        path: "*.deb"
